.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    margin: 0;
}

.subTitle {
    font-size: 14px;
    color: #6b7280;
    /* gray text */
    margin-top: 4px;
    /* heading ke neeche gap */
}

.createButton {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.createButton:hover {
    background-color: #222;
    /* thoda lighter black */
}

.table {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.header,
.row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 1fr 1fr;
    padding: 14px 20px;
    align-items: center;
}

.header {
    background: #f1f5f9;
    font-weight: 500;
    font-size: 14px;
}

.row {
    border-top: 1px solid #ddd;
    transition: background 0.15s;
}

.row:hover {
    background: #f8fafc;
}

.badge {
    padding: 4px 10px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.main {
    background-color: #ef4444;
    /* red */
}

.sub {
    background-color: #f59e0b;
    /* orange */
}

.defaultRole {
    background-color: #3b82f6;
    /* blue */
}

.actions {
    display: flex;
    gap: 10px;
}

.actionBtn {
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
}

.actionBtn:hover {
    background-color: #222;
    /* lighter black */
    color: #fff;
}

.loading {
    padding: 20px;
    text-align: center;
}

.swal2-styled.swal-confirm {
    background-color: #000 !important;
    color: #fff !important;
}

.swal2-styled.swal-confirm:hover {
    background-color: #222 !important;
}

.noRecords {
    padding: 20px;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
    grid-column: 1 / -1;
}