.title {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.subTitle {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-top: 4px;

}

.table {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.header,
.row {
    display: grid;
    grid-template-columns: 70px 200px 200px 200px 200px 200px 190px 190px;
    padding: 14px 20px;
}

.header {
    background: #f1f5f9;
    font-weight: 500;
    font-size: 14px;
}

.row {
    border-top: 1px solid #ddd;
    transition: background 0.15s;
}

.row:hover {
    background: #f8fafc;
}

.statusSelect {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #000;
    cursor: pointer;
}
