

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical alignment center */
    margin-bottom: 20px;
    flex-wrap: wrap;
    /* responsive for small screens */
    gap: 10px;
    /* spacing when wrapped */
}

.title {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.subTitle {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-top: 4px;
    /* small spacing below title */
}
.createBtn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

.createBtn:hover {
    background-color: #222;
}
.form {
  width: 100%;
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* createInspection.module.css */

/* Wrap multiple inputs in a row */
.formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.formGroup {
  flex: 1 1 200px; /* flexible width */
  display: flex;
  flex-direction: column;
}

.formGroup textarea {
  min-height: 100px;
  resize: vertical;
  flex: 1 1 100%; 
}


.formGroup label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #111;
}
.formGroup textarea {
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

.formGroup input,
.formGroup select
 {
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}
.action {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.primary {
    background: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
}

.primary:hover {
    opacity: 0.9;
}

.secondary {
    background: #fff;
    color: #000;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #000;
    font-weight: 500;
}

.secondary:hover {
    background: rgba(0, 0, 0, 0.05);
}

.required {
    color: red;
}
